body (
   background-color:#66ccf;/*Warna biru mudah */
   font-family: Arial, sans-serif;/* jenis huruf yang berhasil dan muda
   coler:/* warna teks utama(biru muda)
)

kartu-profil (
   width: 600px;
   margin: 50px  auto; /* jarak atas/bawah, auto menegahkan kiri
   panding: 30px;
   background-color: wnite;
   border-radius:
   bok-shadow:
   text-align: center
)



.kartu-profil img (
   width:  150px;
   border-radius:
